<div class="container-fluid">
	<app-cabecera *ngIf="vistaAMostrar=='libros'" (onCerrar)="cambiarVista($event)" [correoUsuario]="correoUsuario"></app-cabecera>
</div>
<div class="container">
	<app-home *ngIf="vistaAMostrar=='home'" (onCambioVista)="cambiarVista($event)"></app-home>
	<app-login *ngIf="vistaAMostrar=='login'" (onLogin)="cambiarVista($event)" (onCorreoLogueado)="correoUsuario=$event"></app-login>
	<app-registro *ngIf="vistaAMostrar=='registro'" (onRegistro)="cambiarVista($event)"></app-registro>
	<app-listado-libros *ngIf="vistaAMostrar=='libros'"></app-listado-libros>
	<app-edicion-libro *ngIf="vistaAMostrar=='libros'"></app-edicion-libro>
</div>